# .gitignore

# Исключаем локальные переменные окружения и секреты
.env

# Исключаем папки с данными, которые генерируются во время работы
/media/
/logs/

# Исключаем кэш и артефакты Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Исключаем папки виртуального окружения Python
.venv
venv
env

# Исключаем файлы и папки, связанные с Node.js (если используются)
node_modules/
npm-debug.log
package-lock.json

# Исключаем файлы IDE и редакторов кода
.idea/
.vscode/
*.swp

credentials.json