# Core FastAPI Framework
fastapi==0.111.0
uvicorn[standard]==0.29.0
starlette==0.37.2
gunicorn
# Async & Networking
anyio>=3.7.1,<5
aiofiles
h11

# Database & ORM
sqlalchemy
psycopg2-binary
asyncpg
alembic

# Caching
redis
aioredis
cachetools

# Data Validation & Settings
pydantic
pydantic-settings
email_validator

# Security & Authentication
passlib
bcrypt==3.2.2
python-jose[cryptography]

# Templating & Forms
jinja2
starlette-wtf

# Pagination
fastapi-pagination

# Utilities
python-dotenv
python-multipart
python-slugify

sse-starlette

requests

pytz